body {
    color: #000;
    background: #fff;
    margin: 0;
}

/* Header */
header {
    display: flex;
    background: url(../images/earth.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.menu_nav {
    display: inline;
}